@using Event_Management.BAL;

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Manup Template">
    <meta name="keywords" content="Manup, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manup | Template</title>

    @*     <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="../theme/css/linearicons.css">
    <link rel="stylesheet" href="../themecss/font-awesome.min.css">
    <link rel="stylesheet" href="../themecss/bootstrap.css">
    <link rel="stylesheet" href="../themecss/magnific-popup.css">
    <link rel="stylesheet" href="../themecss/nice-select.css">
    <link rel="stylesheet" href="../themecss/animate.min.css">
    <link rel="stylesheet" href="../themecss/owl.carousel.css">
    <link rel="stylesheet" href="../themecss/main.css"> *@


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">


    <!-- Css Styles -->
    <link rel="stylesheet" href="../manup/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../manup/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../manup/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../manup/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../manup/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../manup/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../manup/css/style.css" type="text/css">
</head>

<body>

    @* <div class="container">
    <main role="main" class="pb-3">
    </main>
    </div> *@
    @RenderBody()

    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="../manup/js/jquery-3.3.1.min.js"></script>
    <script src="../manup/js/bootstrap.min.js"></script>
    <script src="../manup/js/jquery.magnific-popup.min.js"></script>
    <script src="../manup/js/jquery.countdown.min.js"></script>
    <script src="../manup/js/jquery.slicknav.js"></script>
    <script src="../manup/js/owl.carousel.min.js"></script>
    <script src="../manup/js/main.js"></script>
</body>

</html>